.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;

    font-size: 36px;
}

.row {
    display: flex;
}

.key {
    width: 3em;
    height: 3em;
    line-height: 3em;
    margin: 5px;
    border: 1px solid black;
    text-align: center;
}

.key.larger {
    width: 4.75em;
}

.key.grey {
    background-color: grey;
}

.key.yellow {
    background-color: yellow;
}

.key.green {
    background-color: lawngreen;
}

@media only screen and (max-width: 1225px), (max-height: 1100px) {
    .keyboard {
        font-size: 25px;
    }
}

@media only screen and (max-width: 890px), (max-height: 890px) {
    .keyboard {
        font-size: 18px;
    }
}
@media only screen and (max-width: 670px), (max-height: 650px) {
    .keyboard {
        font-size: 12px;
    }
}

@media only screen and (max-width: 500px) {
    .keyboard {
        width: 100%;
    }
    .row {
        width: 100%;
    }
}