.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.row {
    display: flex;
}

.key {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 2em;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

.key.larger {
    width: 85px;
}

.key.grey {
    background-color: grey;
}

.key.yellow {
    background-color: yellow;
}

.key.green {
    background-color: lawngreen;
}

@media only screen and (max-width: 768px) {
    .key {
        width: 15px;
        height: 30px;
        line-height: 30px;

        font-size: 1em;
    
        margin: 5px;
        padding: 5px;
        border: 1px solid black;
    
        text-align: center;
    }
    .key.larger {
        width: 25px;
        font-size: 0.7em;
    }
}