.word {
    display: flex;
    width: 475px;
    
    margin: 0 auto;
}

.input {
    background-color: grey;
}

@media only screen and (max-width: 768px) {
    .word {
        display: flex;
        width: 275px;
    }
}