.game {
    text-align: center;
    vertical-align: middle;
}

.words {
    width: 75%;
    margin: 0 auto;
}

.fakeWord {
    animation: shake 0.5s normal forwards ease-in-out;
}

@keyframes shake {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(2em);
    }
    40% {
        transform: translate(-2em);
    }
    60% {
        transform: translate(2em);
    }
    80% {
        transform: translate(-2em);
    }
    100% {
        transform: translate(0);
    }
}

@media only screen and (max-width: 768px) {
    .words {
        width: 75%;
        margin: 0 auto;
    }
}