.game {

    text-align: center;
    vertical-align: middle;
}

.words {
    width: 50%;
    margin: 0 auto;
}

.words.wrongWord {
    animation: shake 0.5s infinite;;
}

@keyframes shake {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(3em);
    }
    40% {
        transform: translate(-3em);
    }
    60% {
        transform: translate(3em);
    }
    80% {
        transform: translate(-3em);
    }
    100% {
        transform: translate(0);
    }
}
