.letter {
    flex: 1;
    height: 1.75em;
    line-height: 1.75em;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    border: 1px solid black;
    margin: 2px;
    background-color: white;
}

.grey {
    background-color: lightgrey;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: lawngreen;
}