.letter {
    height: 75px;
    width: 75px;
    line-height: 75px;
    font-size: 2.75em;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    border: 1px solid black;
    margin: 4px;
    background-color: white;
}

.grey {
    background-color: lightgrey;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: lawngreen;
}

@media only screen and (max-width: 768px) {
    .letter {
        height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 1.3em;
        text-align: center;
        vertical-align: middle;
        padding: 5px;
        border: 1px solid black;
        margin: 4px;
        background-color: white;
    }
    
    .grey {
        background-color: lightgrey;
    }
    
    .yellow {
        background-color: yellow;
    }
    
    .green {
        background-color: lawngreen;
    }
}